/**** RESET ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** DEBUG ****/

/**** COMMON ****/

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

section {
    padding: 100px 0;
}

a.links {
    text-decoration: underline;
    color: #4f54f6;
}

.btn {
    background-color: #0061fe;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.flex {
    display: flex;
}

.container {
    width: 60%;
    margin: 0 auto;
}

/**** HEADER ****/

header nav {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header nav > .menu {
    padding: 25px 20px;
}

header nav .menu {
    justify-content: space-between;
    flex-grow: 1;
}

header nav .flex {
    gap: 20px;
}

header nav .login .btn {
    margin-left: 10px;
}

/**** MAIN ****/

/* JUMBOTRON */

main .jumbotron {
    background-color: #b4d0e6;
    max-height: 880px;
}

main .jumbotron h1 {
    font-size: 80px;
}

main .jumbotron .description {
    padding-top: 70px;
}

main .description .text-jumbotron {
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    flex-shrink: 0;
}

main .description .img-jumbotron {
    flex-grow: 1;
}

main .description .text-jumbotron > *:not(i) {
    margin-bottom: 30px;
}

main .description .text-jumbotron i {
    margin-top: 70px;
    font-size: 40px;
}

/* SEZIONE PIANO ACQUISTO  */

main .piano-acquisti {
    margin-top: 130px;
    border-top: 2px solid #f8f8f8;
}

main .piano-acquisti .container > * {
    padding-bottom: 40px;
}

main .piano-acquisti h2 {
    font-size: 50px;
}

main .piano-acquisti .card {
    width: calc((100% / 3) - 50px);
}

main .piano-acquisti .card.big {
    width: 100%;
}

main .piano-acquisti .card-top {
    padding: 10px 0;
    justify-content: center;
    gap: 5px;
}

main .piano-acquisti .card-bottom {
    padding: 20px;
}

main .piano-acquisti .card > * {
    border: 2px solid #d0d0d4;
    margin: -1px;
}

main .piano-acquisti .options {
    gap: 40px;
}

main .piano-acquisti .options .option {
    align-items: center;
}

main .piano-acquisti .options .option .radio-btn {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

main .piano-acquisti .options .option .radio-btn.active {
    border: 5px solid #0061fe;
}

main .piano-acquisti .options .option .radio-btn.disactive {
    border: 2px solid #d0cfd4;
}

main .piano-acquisti .container-card {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}
