/**** RESET ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** COMMON ****/

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

a.links {
    text-decoration: underline;
    color: #4f54f6;
}

strong {
    display: inline-block;
}

.btn {
    background-color: #0061fe;
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    display: inline-block;
}

.btn:hover {
    filter: brightness(1.4);
}

.flex {
    display: flex;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.container.small {
    width: 60%;
}

/**** HEADER ****/

header {
    padding: 0 20px;
    box-shadow: 0 1px 3px 0px #808080;
}

header nav {
    justify-content: space-between;
}

header nav ul .logo,
header nav ul .btn-nav {
    padding: 0;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

header nav ul li {
    padding: 25px 15px;
    position: relative;
}

header nav ul li:not(.logo, .btn-nav)::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    border-bottom: 2px solid #808080;
    opacity: 0;
}

header nav ul li:not(.logo, .btn-nav):hover::after {
    opacity: 1;
}

/**** MAIN ****/

/* JUMBOTRON */

main .jumbotron {
    background-color: #b4d0e6;
}

main .jumbotron .container {
    position: relative;
    top: 100px;
}

main .jumbotron h1 {
    font-size: 80px;
    margin-bottom: 70px;
}

main .description .text-jumbotron {
    width: 30%;
}

main .description .img-jumbotron {
    width: 70%;
}

main .description .text-jumbotron > *:not(i) {
    margin-bottom: 40px;
}

main .description .text-jumbotron i {
    margin-top: 180px;
    font-size: 40px;
}

/* SEZIONE PIANO ACQUISTO  */

main .piano-acquisti {
    margin-top: 130px;
    border-top: 2px solid #f8f8f8;
}

main .piano-acquisti h2 {
    font-size: 50px;
}

main .piano-acquisti .container > * {
    padding-top: 50px;
}

main .piano-acquisti .options {
    gap: 40px;
}

main .piano-acquisti .options .option {
    align-items: center;
}

main .piano-acquisti .options .option .radio-btn {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

main .piano-acquisti .options .option .radio-btn.active {
    border: 5px solid #0061fe;
}

main .piano-acquisti .options .option .radio-btn.disactive {
    border: 2px solid #d0cfd4;
}

main .piano-acquisti .container-card {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

main .piano-acquisti .card {
    width: calc((100% / 3) - 50px);
    border: 2px solid #d0d0d4;
}

main .piano-acquisti .card.big {
    width: 100%;
}

main .piano-acquisti .card-top {
    padding: 10px 0;
    justify-content: center;
    gap: 5px;
    border-bottom: 2px solid #d0d0d4;
}
main .piano-acquisti .card-bottom h3 {
    font-size: 30px;
}

main .piano-acquisti .card-bottom {
    padding: 30px;
}

main .piano-acquisti .card-bottom > * {
    padding: 20px 0;
}

main .piano-acquisti .card-bottom div > *,
main .piano-acquisti .card-bottom ul > * {
    margin: 10px 0;
}

main .piano-acquisti .card-bottom ul li {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

main .piano-acquisti .card-bottom .title-card .duration {
    color: #666b71;
}

main .piano-acquisti .card-bottom .registration span {
    padding-bottom: 30px;
    border-bottom: 1px solid #d0cfd4;
}
main .piano-acquisti .card-bottom .registration a {
    width: 100%;
}

main .piano-acquisti .card-bottom .list-main-points li i {
    color: #0061fe;
}

main .piano-acquisti .card-bottom .list-main-points .title-list {
    margin-bottom: 20px;
}

main .piano-acquisti .card.big .card-bottom {
    display: flex;
    justify-content: space-between;
}

main .piano-acquisti .card.big .card-bottom .title-card {
    width: 70%;
}

main .piano-acquisti .card.big .card-bottom .title-card p {
    margin-top: 50px;
}

main .piano-acquisti .card.big .card-bottom .registration {
    width: 30%;
}

/* SEZIONE PARTNER */

main .partner .container {
    gap: 50px;
    margin-top: 200px;
}

main .partner .content-1 {
    width: 70%;
}

main .partner .content-2 {
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

main .partner .content-2 h2 {
    font-size: 40px;
}

main .partner .content-2 > * {
    margin: 20px 0;
}

main .partner .content-2 .btn {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

/* SEZIONE DROPBOX BUSINESS */

main .dropbox-business .container {
    margin-top: 160px;
}

main .dropbox-business h2 {
    font-size: 50px;
    margin-bottom: 100px;
}

main .dropbox-business .container-grid {
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

main .dropbox-business .container-grid .grid-item {
    width: calc((100% / 3) - 50px);
}

main .dropbox-business .container-grid .grid-item h3 {
    margin: 40px 0;
    font-size: 25px;
}

/* SEZIONE SCOPRI CLIENTI */

main .scopri-clienti .container {
    margin-top: 200px;
    margin-bottom: 200px;
}

main .scopri-clienti h2 {
    font-size: 50px;
    margin-bottom: 60px;
}

/* SEZIONE FOOTER */

footer {
    background-color: #000;
    color: #fff;
}

footer hr {
    width: 10%;
}

footer .links-footer {
    justify-content: space-between;
    padding: 100px 0;
}

footer .links-footer h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

footer .links-footer ul li {
    padding: 10px 0;
}

footer .language {
    align-items: center;
    gap: 5px;
    color: #99999b;
    padding: 50px 0;
}
